<div>
	<button class="btn btn-primary" ng-if="! $ctrl.addMode" ng-click="$ctrl.addMode = true">
		Add hero
	</button>

	<div class="panel panel-default" ng-if="$ctrl.addMode">
		<div class="panel-body">
			<h4>New hero</h4>

			<form novalidate>
				<div class="form-group">
					<label>Name</label>
					<input type="text" class="form-control" ng-model="$ctrl.hero.name">
				</div>

				<div class="form-group">
					<label>Location</label>
					<input type="text" class="form-control" ng-model="$ctrl.hero.location">
				</div>

				<div class="btn-group pull-right">
					<button class="btn btn-primary" ng-click="$ctrl.save()">
						Save
					</button>
					<button class="btn btn-default" ng-click="$ctrl.addMode = false">
						Cancel
					</button>
				</div>
			</form>
		</div>
	</div>
</div>